<h1 id="heading"><?= $this->first['help_book_head'] ?></h1>
<?php if ($this->first['help_book_subj']): ?>
    <p><?= $this->first['help_book_subj'] ?></p>
<?php endif; ?>

<div class="w3-padding w3-border">
    <strong>Inhaltsverzeichnis</strong>
    <?= $this->tableOfContents($this->texts) ?>
</div>

<?php
foreach ($this->texts as $i => $text):
    $this->chapterHeading($text, (!empty($this->texts[$i - 1]['help_chapter_no']) ? $this->texts[$i - 1]['help_chapter_no'] : ''));
    if (!empty($text['help_text_head'])): ?>
        <h5><?= $text['help_text_head'] ?></h5>
    <?php endif; ?>

    <p>
        <?= $text['help_text_text'] ?>
        <a href="#heading" class="w3-badge w3-blue-gray w3-right" title="nach oben"><strong>&uarr;</strong></a>
    </p>

<?php
endforeach; ?>
